fastapi>=0.68.0
uvicorn>=0.15.0
python-multipart
python-jose[cryptography]
passlib[bcrypt]
aiokafka
pydantic
redis
aioredis
asyncio
celery
firebase_admin
eventlet
uvicorn[standard]
pandas
tensorflow
numpy
scikit-learn
requests
TA-Lib
lightgbm
xgboost
scipy
yfinfance
