fastapi>=0.68.0
uvicorn>=0.15.0
python-multipart
python-jose[cryptography]
passlib[bcrypt]
pydantic
redis
aioredis
asyncio
celery
firebase_admin
eventlet
pandas
tensorflow
numpy
scikit-learn
requests
lightgbm
xgboost
scipy
yfinance
Ta-lib
optuna
plotly

